

<div id="back-to-recipe-index"><a href="/recipes">federicindice</a></div>
 
 <form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="PUT">
  
  <div id="title"><input type="text" name="title" value="<%= @recipe.title %>"></div>
  <div class="servings"><input type="text" name="servings" value="<%= @recipe.servings %>"></div>
  <div class="nutrition"><input type="text" name="nutrition" value="<%= @recipe.nutrition %>"></div>




  <div id="ingredients"><textarea type="text" name="ingredients"><%= @recipe.ingredients %></textarea></div>
  <div id="directions"><textarea type="text" name="directions"><%= @recipe.directions %></textarea></div>
  <div id="story"><textarea type="text" name="story"><%= @recipe.story %></textarea></div>

  
  <div id="video_link"><input type="url" name="video_link" value="<%= @recipe.video_link %>"></div>
  
  <input type="submit" value="edit">
</form>



 
 
