<% if logged_in? %>
  <div id="owner"><%=current_user.username%>'s</div> 
  <div id="user-recipes-container">
    <% @recipes.each do |recipe| %> 
      <% if recipe.user_id == current_user.id %>
        <div class="recipes"><a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a></div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id="others">everyone else's </div>
<div id="recipes-container"> 
  <% @recipes.each do |recipe| %>
    <% if current_user.nil? || recipe.user_id != current_user.id %>
      <div class="recipes"><a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a></div>
    <% end %>
  <% end %>
</div>

<div id="create-recipe"><a href='/recipes/new'>create a new one</a></div>



