




 

  <div id="recipes-container"><%=current_user.username%>'s Recipes
    <% @recipes.each do |recipe| %>
    <% if recipe.user_id == current_user.id %>
      <div class="recipes <%= 'my_recipes' if recipe.user.id == current_user.id %>"><a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a><br><br></div>
    <% end %><% end %></div>

    <div id="recipes-container"> Everyone Else's Recipes<% @recipes.each do |recipe| %>
    <% if recipe.user_id != current_user.id %>
      <div class="recipes <%= 'my_recipes' if recipe.user.id == current_user.id %>"><a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a><br><br></div>
    <% end %><% end %></div>
    
    <div id="create-recipe"><a href='/recipes/new'>create a new recipe</a></div>

    

