<style> 

  body {
    background-color: #fad2e0;
    color: #ff5d55;
    font-family: 'Audiowide', cursive;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
  }

  a {
    text-decoration: none;
  } 
  a:link {
    color: #ff5555;
  }
  a:visited {
    color: #ff5555;
  }
  a:hover {
    color: white;
  }

  #try-box {
    display:none;
  }
     
  #p-title-create {
    top: -46px;
    position: fixed;
    left: 89px;
    width: 1271px;
    height: 121px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 122px;
    letter-spacing: 0px;
    font-style: italic;
    color: red;
    max-height: 153px;
    overflow: scroll;
  }

  #name-create {
    position: fixed;
    left: -17px;
    font-size: 20px;
    transform: rotate(-90deg);
    top: 217px;
    letter-spacing: 6px;
    font-style: italic;
  }     

  #name-create a{
    text-decoration: none;
    color:white;
  }
        
  #oldchunk-text-create {  
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: #d45454;
    left: 120px;
    top: 115px;
    min-height: 269px;
    overflow: scroll;
    position: fixed;
    right: 743px;
    max-height: 275px;
  }    

  .vid-create {
    position: fixed;
    top: 413px;
    height: 58px;
    width: 195px;
    left: 144px;
  }
  .vid-create input {
    border-top: hidden;
    border-left: hidden;
    background-color: transparent;
    border-bottom-color: red;
    border-right: hidden;
    border-width: 1px;
    width:331px;
    font-family: Audiowide;
    font-size: 18px;
    color: #ff3823;
  }

    .vid-create input::-webkit-input-placeholder{
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .vid-create input::-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }

    .vid-create input:-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
    .vid-create input:-ms-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }

    .pics-create {
      position: fixed;
      top: 349px;
      height: 58px;
      width: 195px;
      left: 144px;
    }
    .pics-create input {
      border-top: hidden;
      border-left: hidden;
      background-color: transparent;
      border-bottom-color: red;
      border-right: hidden;
      border-width: 1px;
      width:331px;
      font-family: Audiowide;
      font-size: 18px;
      color: #ff3823;
    }
    .pics-create input::-webkit-input-placeholder{
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .pics-create input::-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .pics-create input:-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
    .pics-create input:-ms-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }

    .sound-create {
      position: fixed;
      top: 477px;
      height: 58px;
      width: 195px;
      left: 144px;
      font-family: Audiowide;
      font-size: 12pt;
    }
   

    .sound-create input {
      border-top: hidden;
      border-left: hidden;
      background-color: transparent;
      border-bottom-color: red;
      border-right: hidden;
      border-width: 1px;
      width:331px;
      font-family: Audiowide;
      font-size: 18px;
      color: #ff3823;
    }

    .sound-create input::-webkit-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .sound-create input::-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
  
    .sound-create input:-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
    .sound-create input:-ms-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }


    #newchunk-text-create {
      font-size: 45px;
      letter-spacing: 17px;
      top: 119px;
      left: 1120px;
      height: 110px;
      z-index: 4;
      font-style: italic;
      color: black;
      position: fixed;
    }

    #comment-show-create {
      border: 1px solid #ff3823;
      background-color: rgb(253, 244, 248);
      border-radius: 20px;
      font-size: 100%;
      color: black;
      width: 543px;
      height: 335px;
      left: 545px;
      top: 127px;
      position: absolute;
      padding: 50px 40px;
      letter-spacing: 2px;
      font-family: "Courier New";
      font-size: 12px;
      font-style: italic;
      z-index: 14;
      position: fixed;
    }

    #comment-show-create::-webkit-input-placeholder{
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
   
    #comment-show-create::-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
   
    #comment-show-create:-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
    #comment-show-create:-ms-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
      
    #newchunk-title-create {
      font-size: 28px;
      letter-spacing: 1px;
      top: 36%;
      left: -248px;
      height: 22%;
      transform: rotate(-90deg);
      z-index: 4;
      font-style: italic;
      color: #ff5d55;
      position: fixed;
      overflow: scroll
    }

     #side-edit-create{
      font-size: 45px;
      letter-spacing: 17px;
      top: 119px;
      left: 1120px;
      height: 110px;
      transform: rotate(-90deg);
      z-index: 4;
      font-style: italic;
      color: white;
      position: fixed;
    }

    #try-box-create {
      display:none;
    }
       
    #score-create {
      font-style: italic;
      font-weight: bold;
      position: fixed;
      font-size: 86px;
      letter-spacing: 11px;
      left: 183px;
      top: 578px;
      width: 200px;
      height: 56px;
    }        
     
    .indi-comments-create {
      border: 1px solid #ff3823;
      background-color: rgb(253, 244, 248);
      border-radius: 10px;
      font-size: 12px;
      color: #ff5555;
      width: 559px;
      height: 143px;
      left: 0px;
      margin-bottom: 5px;
      position: relative;
      padding: 10px;
      font-family: "Courier New";
      font-style: italic;
    } 

    #o-title-create {
      position: fixed;
      left: 9px;
      font-size: 61px;
      top: 601px;
      letter-spacing: 5px;
      font-style: italic;
      transform: rotate(-90deg);
      transform-origin: top left;
      width: auto;
      white-space: nowrap;
    }

    #newchunk-text-create {
      position: fixed;
      left: 555px;
      font-size: 13px;
      top: 133px;
      letter-spacing: 1px;
      font-style: italic;
      color: black;
      font-family: "Courier New";
      overflow: scroll;
      max-width: 605px;
      min-height: 165px;
    }

    #vote-count-create {
      position: fixed;
      left: 991px;
      font-size: 22px;
      top: 102px;
      letter-spacing: 1px;
      font-style: italic;
    }
      
    #vote-checkbox-create {
      position: absolute;
      left: 341px;
      font-size: 13px;
      top: 10px;
      letter-spacing: 6px;
      font-style: italic;
    }
     
     #submit-create {
      position: fixed;
      left: 1124px;
      font-size: 22px;
      top: 411px;
     }

     #delete-button-create {
      position: fixed;
      left: 1024px;
      font-size: 22px;
      top: 411px; 
     }

    #plus-create {
      position: fixed;
      left: 788px;
      top: 488px;
      width: 192px;
      height: 147px;
      color: red;
      z-index: 14;
    }


  #scroll-box-create {
      top: 305px;
      position: fixed;
      width: 604px;
      left: 585px;
      overflow: scroll;
      padding-top: 0px;
      height: 287px;}

  #trash-can-create {
      position: fixed;
      left: 999px;
      top: 456px;
      width: 278px;
      height: 26px;
      transform: scale(1);
      transform-origin: 137px 94px;
      color: red;
      z-index:14;
  }

  #comment-wrapper-create {
      font-family: "Courier New";
      font-style: italic;
      position: absolute;
      font-size: 12px;
      letter-spacing: 1px;
      left: 0px;
      top: 0px;
      width: 436px;
      height: 56px;
      padding-top: 243px;
  }

    #title-text-create {
      position: fixed;
      font-family: "Courier New";
      font-size: 25px;
      left: 587px;
      top: 147px;
      z-index: 15;
      background-color: transparent;
      border-radius: 20px;
    }

    #title-text-create input {
      border: none;
      background-color: transparent;
      font-family: "Courier New";
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
    }

    #title-text-create input::-webkit-input-placeholder{
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }
     
       #title-text-create input::-moz-placeholder {
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }
     
       #title-text-create input:-moz-placeholder {
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }
       #title-text-create input:-ms-input-placeholder {
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }

</style>

<div id="p-title-create"><a href="/<%=@project.pslug%>/index"><%=@project.title%></a></div>

<form method="post" action="/newchunks">
  <div id="title-text-create"><input type="hidden" name="oldchunk_id" value="<%=@oldchunk.id%>">
  <input type="text" name="title" placeholder="title"></div>
  
  <textarea id="comment-show-create" type="text" name="text" placeholder="text of new idea"></textarea><br>
  
  <div class="vid-create"><input type="url" name="video_link" placeholder="video link"></div><br>
  
  <div class="pics-create"><input type="url" name="image_link" placeholder="image link"></div><br>
  
  <div class="sound-create"><input type="url" name="sound_link" placeholder="soundcloud link"></div><br>
  
  <input type="image" id="plus-create" src="/images/plus-red.svg">
</form>


<div id="o-title-create"><a href="/<%=@project.pslug%>/<%=@oldchunk.oslug%>/index"><%=@oldchunk.title%></a></div>
 
<div id="score-create"><a href="/<%=@project.pslug%>/final_map">SCORE</a></div>

 