<style> 


body{
    background-color: #fad2e0;
    color: #ff5d55;
    font-family: 'Audiowide', cursive;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
  }

   a {
    text-decoration: none;
    } 
    a:link {
      color: #ff5555;
      transition: initial;
    }
    a:visited {
      color: #f1056e;
      transition: initial;
    }
    a:hover {
    color: #607fbb;
    transition: initial;
    }

   
#p-title {
  top: -46px;
  position: fixed;
  left: 89px;
  width: 1271px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 122px;
  letter-spacing: 0px;
  font-style: italic;
  color: red;
  max-height: 151px;
  overflow: scroll;}

#name {
  position: fixed;
  left: -17px;
  font-size: 20px;
  transform: rotate(-90deg);
  top: 217px;
  letter-spacing: 6px;
  font-style: italic;
}
   

  #name a{
    text-decoration: none;
    color:white;
  }
      
  #oldchunk-text {  
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: #d45454;
    left: 120px;
    top: 115px;
    min-height: 269px;
    overflow: scroll;
    position: fixed;
    right: 743px;
    max-height: 275px;
  }
  
   

#video {
    position: fixed;
    top: 453px;
    height: 48px;
    width: 51px;
    left: 339px;
    z-index:13;
  }

  #image {
    position: fixed;
    top: 453px;
    height: 48px;
    width: 51px;
    left: 236px;
    z-index:13;
  }

  #sound {
    position: fixed;
    top: 456px;
    height: 48px;
    width: 61px;
    left: 136px;
    z-index:13;
  }

  #newchunk-text {
    font-size: 45px;
    letter-spacing: 17px;
    top: 119px;
    left: 1120px;
    height: 110px;
    z-index: 4;
    font-style: italic;
    color: black;
    position: fixed;
  }

  #comment-show  {
    border: 1px solid #ff3823;
    background-color: rgb(253, 244, 248);
    border-radius: 10px;
    font-size: 100%;
    color: black;
    width: 543px;
    height: 138px;
    left: 0px;
    top: 39px;
    position: absolute;
    padding: 10px;
    letter-spacing: 2px;
    font-family: "Courier New";
    font-size: 12px;
    font-style: italic;
    z-index: 14;
  }

  #comment-show::-webkit-input-placeholder{
       font-family:Audiowide;
       font-style: italic;
       color:#ff3823;
     }
   
     #comment-show::-moz-placeholder {
       font-family:Audiowide;
       font-style: italic;
       color:#ff3823;
     }
   
     #comment-show:-moz-placeholder {
       font-family:Audiowide;
       font-style: italic;
       color:#ff3823;
     }
     #comment-show:-ms-input-placeholder {
       font-family:Audiowide;
       font-style: italic;
       color:#ff3823;
     }
    
 #newchunk-title {
    font-size: 20px;
    letter-spacing: 1px;
    top: 104px;
    left: 552px;
    height: 22%;
    z-index: 4;
    font-style: italic;
    color: #ff5d55;
    position: fixed;
    max-height: 25px;
    max-width: 340px;
    overflow: scroll; 
  }

   #side-edit{
    font-size: 45px;
    letter-spacing: 17px;
    top: 119px;
    left: 1120px;
    height: 110px;
    transform: rotate(-90deg);
    z-index: 4;
    font-style: italic;
    position: fixed;
  }

    #try-box {
      display:none;
    }
          
   #score {
    font-style: italic;
    font-weight: bold;
    position: fixed;
    font-size: 86px;
    letter-spacing: 11px;
    left: 183px;
    top: 578px;
    width: 200px;
    height: 56px;
  }        
   

    
  .indi-comments {
    border: 1px solid #ff3823;
    background-color: rgb(253, 244, 248);
    border-radius: 10px;
    font-size: 12px;
    color: #ff5555;
    width: 559px;
    height: 143px;
    left: 0px;
    margin-bottom: 5px;
    position: relative;
    padding: 10px;
    overflow: initial;
    overflow: scroll;
    font-family: "Courier New";
    font-style: italic;
   } 

   
  #o-title {
    position: fixed;
    left: 9px;
    font-size: 61px;
    top: 601px;
    letter-spacing: 5px;
    font-style: italic;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: auto;
    white-space: nowrap;
  }

  #newchunk-text {
    position: fixed;
    left: 555px;
    font-size: 13px;
    top: 133px;
    letter-spacing: 1px;
    font-style: italic;
    color: black;
    font-family: "Courier New";
    overflow: scroll;
    max-width: 605px;
    min-height: 165px;
  }
   

   #vote-count {
    position: fixed;
    left: 991px;
    font-size: 22px;
    top: 102px;
    letter-spacing: 1px;
    font-style: italic;
  }
    
  #vote-checkbox {
    position: absolute;
    left: 18px;
    font-size: 10px;
    top: 13px;
    letter-spacing: 5px;
    font-style: italic;
    width: 471px;
    white-space: no;
    white-space: nowrap;
  }
   
   #submit {
    position: fixed;
    left: 1124px;
    font-size: 22px;
    top: 411px;
   }



   #plus-show {
    position: absolute;
    left: 201px;
    top: 119px;
    width: 192px;
    height: 147px;
    color: red;
    z-index: 14;
  }

  #scroll-box {
    top: 305px;
    position: fixed;
    width: 604px;
    left: 585px;
    overflow: scroll;
    padding-top: 0px;
    height: 287px;
  }

  #comment-wrapper {
    font-family: "Courier New";
    font-style: italic;
    position: absolute;
    font-size: 12px;
    letter-spacing: 1px;
    left: 0px;
    top: 0px;
    width: 436px;
    height: 56px;
    padding-top: 243px;
  }

</style>

<div id="p-title"><a href="/<%=@project.pslug%>/index"><%=@project.title%></a></div>
<!-- AUTHOR OF THE NEWCHUNK -->
<div id="name"><%= @newchunk_author.username %></div>
<!-- OLDCHUNK TITLE -->
 <div id="o-title"><a href="/<%=@project.pslug%>/<%= @oldchunk.oslug %>/index"><%= @oldchunk.title %></a></div> 
 
<!--OLDCHUNK TEXT
 -->  
<div id="oldchunk-text"><%= h(@oldchunk.text).gsub(/\n/, '<br/>') %></div><br>
   
<!-- THE FOUR CLICKABLE ICONS FOR THE VIDEO, PICS, SOUND, AND SCORE -->
<!--  -->
<div id="video"><a href="<%= @newchunk.video_link %>" target="_blank"><img src="/images/video-camera.svg"></a></div>
          
<div id="image"><a href="<%= @newchunk.image_link %>" target="_blank"><img src="/images/camera.svg"></a></div>
          
<div id="sound"><a href="<%= @newchunk.sound_link %>" target="blank"><img src="/images/soundcloud.svg"></a></div>
<!--here is the stuff within the newchunk box-
-(votes, title, and text of new idea scene)- -->

<div id="newchunk-title"><%= @newchunk.title %></div>

<div id="vote-count"> votes <%= @vote_counts[@newchunk.id]%></div>

<div id="newchunk-text"><%= @newchunk.text %></div><br>

<!-- HERE IS WHERE USERS WILL COMMENT INTO THE FORM ABOUT A NEW IDEA OF ANOTHER USER- AND THEY WILL GET TO VOTE ON THEIR FAV. NEW VERSION  -->       
    
<div id="scroll-box">
<form method="post" action="/newchunks/comment"><br>
  <textarea id="comment-show" type="text" name="comment" placeholder="enter comment here"></textarea>
  <div id="vote-checkbox">
    <% if @remaining_votes > 0 %>use one of your <%= @remaining_votes %> remaining votes on this piece?<input type="checkbox" name="vote" value="<%=@newchunk.id%>"></input>
    <% else %> you have no remaining votes!
    <% end %>
  </div>
              
<!-- <div><input type="submit" id="submit" value="submit" class="btn btn-primary"> -->
 <input type="image" id="plus-show" src="/images/plus-red.svg">
 <input type="hidden" name="id" value="<%=@newchunk.id%>">
</form>


  <div id="comment-wrapper">
      <% @comments.each do |comment| %>
      <%user = User.find_by_id(comment.user_id) %>
      <div class="indi-comments"><p><%= user.username %></p>
      <p><%= h(comment.text).gsub(/\n/, '<br/>') %></p><br></div>
      <%end%>

  </div>
</div> <!-- end of scroll box -->
</div>
<%if @newchunk.user_id == current_user.id%>
  <div id="side-edit"><a href='/newchunks/<%=@newchunk.id%>/edit'>EDIT</a></div>
<%end%>
<!-- "SCORE" CHECK OTHER WRITTEN CODE IN OLDCHUNKS/OLDCHUNKS -->
<div id="score"><a href='/<%=@project.pslug%>/final_map'>SCORE</a></div>



 