

<div id="name"><%= @recipe.user.username %></div>
<!--  TITLE -->

<!--TEXT
 -->  
<div id="directions"><%= h(@recipe.directions).gsub(/\n/, '<br/>') %></div><br>
   

<div id="title"><%= @recipe.title %></div>

<div id="servings"> servings <%= @recipe.servings%></div>

<div id="ingredients"><%= @recipe.ingredients %></div><br>
<div id="directions"><%= @recipe.directions %></div><br>
<div id="story"><%= @recipe.story %></div><br>
<div id="video_link"><%= @recipe.video_link %></div><br>

<%if @recipe.user_id == current_user.id%>
  <div id="side-edit"><a href='/recipes/<%=@recipe.id%>/edit'>EDIT</a></div>
<%end%>
<div id="delete">
  
  <form method="post" action="/recipes/<%= @recipe.id %>">

    <input type="hidden" name="_method" id="hidden" value="DELETE"></input>
    <input type="submit" value="delete"></input>
  
  </form>
        
  </div> 



 