<style>

  #try-box {
    display:none;
  }

  body {
    background-color: white;
  }

</style>


<div id="back-to-recipe-index"><a href="/recipes">federicindice</a></div>
<div id="name"><%= @recipe.user.username %></div>
<!--  TITLE -->
<div id="enutrition_wrapper">
  <div id="enutrition" type="text" name="nutrition"><%= @recipe.nutrition %></div>
</div>
<!--TEXT
 -->  
<div id="edirections_wrapper">
  <div id="edirections"><%= h(@recipe.directions).gsub(/\n/, '<br/>') %></div>
</div>
   
<div id="etitle"><%= @recipe.title %></div>
<div id="eservings"> servings <%= @recipe.servings%></div>

<div id="eingredients_wrapper">
  <div id="eingredients"><%= h(@recipe.ingredients).gsub(/\n/, '<br/>') %></div>
</div>
<div id="estory_wrapper">
  <div id="estory"><%= h(@recipe.story).gsub(/\n/, '<br/>') %></div><br>
  <div id="evideo_link"><a target="_blank" href="<%= @recipe.video_link %>"><%= @recipe.video_link %></a></div>
</div>

<%if logged_in? && @recipe.user_id == current_user.id%>
  <div id="side-edit"><a href='/recipes/<%=@recipe.id%>/edit'>EDIT</a></div>
  <div id="delete">
    <form method="post" action="/recipes/<%= @recipe.id %>">
      <input type="hidden" name="_method" id="hidden" value="DELETE"></input>
      <input type="submit" id="delete_button" value="delete"></input>
    </form>
  </div> 
<%end%>




 